@inherits LayoutComponentBase
@using Blazor.Shared
@using Services
@inject HttpClient Http
@inject Blazor.Extensions.Storage.SessionStorage SessionStorage
@inject EventsService AppState
@implements IDisposable
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        <div>Items in cart: @ItemsInCart</div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    int ItemsInCart = 0;

    protected override async Task OnInitializedAsync()
    {
        AppState.CartUpdated += OnCartUpdated;

        Dictionary<string, CartItemModel> fromSession = await SessionStorage.GetItem<Dictionary<string, CartItemModel>>(StaticValues.StorageCartKey);
        ItemsInCart = fromSession.Count();
    }

    public async void OnCartUpdated()
    {
        ItemsInCart = (await SessionStorage.GetItem<Dictionary<string, CartItemModel>>(StaticValues.StorageCartKey)).Count();

        StateHasChanged();

    }

    public void Dispose()
    {
        AppState.CartUpdated -= OnCartUpdated;
    }
}
