@inherits LayoutComponentBase
@inject HttpClient Http
@inject Blazor.Extensions.Storage.SessionStorage SessionStorage
@inject IEventService EventsService
@inject ICartService CartService
@implements IDisposable
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
        <div>Items in cart: @CartService.Cart.Count()</div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        EventsService.CartUpdated += StateHasChanged;
        await CartService.Initialize();
    }

    public void Dispose()
    {
        EventsService.CartUpdated -= StateHasChanged;
    }
}
