<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EditCart" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span> Cart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Checkout" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span> Checkout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    public bool collapseNavMenu = true;

    public string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
